<div ng-controller="MyTableController">
    <table class="table table-bordered" style="border: solid 1px red">
        <thead>
        <tr>
            <th>ID</th>
            <th>优先级</th>
        </tr>
        </thead>
        <tbody id="my-table-container" data-ng-model="itemsList.items" as-sortable="sortableOptions">
        <tr ng-repeat="item in itemsList.items" as-sortable-item>
            <td as-sortable-item-handle style="height: 30px; background: red">{{item.id}}</td>
            <td as-sortable-item-handle style="height: 30px; background: green">
                {{item.label}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

